.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 10px;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  background-color: #0e1012;
  left: 0;
  z-index: 105;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  z-index: 105;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.header-img {
  height: 40px;
  width: auto;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header-right-link img {
  height: 30px;
  width: 30px;
}

.header-right-sign {
  gap: 8px;
}

.sub-header {
  top: 60px;
  position: absolute;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  z-index: 100;
  flex-direction: row;
  justify-content: center;
  height: 118px;
  gap: 10px;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.sub-header-hidden {
  transform: translateY(-120%);
}
.small-sub-header {
  top: 60px;
  width: 100%;
  position: absolute;
  gap: 8px;
  z-index: 100;
  padding: 10px 0px;
  transform: translateY(0%);
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.small-sub-header-hidden {
  transform: translateY(-200%);
  opacity: 0;
}

.sub-header-item {
  position: relative;
  height: 100px;
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22.7rem;
  background: linear-gradient(
    90deg,
    rgb(15, 15, 15) 46%,
    rgba(233, 178, 12, 0.9) 100%
  );
  transition: all 0.3s ease;
  overflow: hidden;
}

.sub-header-item:hover {
  background: linear-gradient(
    90deg,
    rgb(34, 34, 34) 46%,
    rgb(254, 191, 0) 100%
  );
  transform: translateY(-5px);
}

.sub-header-item-img {
  width: 100%;
  height: auto;
  max-width: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
}
