.footer-1-wrapper {
  width: 100vw;

  margin-top: 95px;
}

.footer-1 {
  padding: 45px 10vw;
  display: flex;
  justify-content: space-between;
}

.footer-1-col-2 {
  width: 25vw;
}

.footer-1-col-1 {
  padding: 0px 10px 0px 0px;
}
