.category-item {
  display: flex !important;
  gap: 10px;
  align-items: center;
}

.categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 11vw;
}

.categories {
  width: 75%;
}

input {
  padding: 5px 0px;
  border: none;
  caret-color: white;
  color: white;
}
