.popup-search-wrapper {
  position: fixed;
  top: 60px;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-search {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 60px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0%);
  width: 1410px;
  border-radius: 10px;
  overflow: hidden;
  padding: 36px 40px 10px 40px;
}
